
<div class="sd-adv60"> 
    <span id='jsid_advs_adpic_250x60a'><!--adpic:a2018--></span>
</div>
<div class="h20">&nbsp;</div>

<div class="panel panel-default">
  <div class="panel-heading">类别</div>
  <div class="panel-body side">
    <li class="type"><a href="{surl(info)}">站点导航</a></li>
    <li class="type"><a href="{surl(info-gbook)}">问题反馈</a></li>
    <li class="type"><a href="{surl(about-alink)}">联系我们</a></li>
  </div>
</div>

<div class="sd-adv60"> 
    <span id='jsid_advs_adpic_250x60b'><!--adpic:a2020--></span>
</div>
<div class="h10">&nbsp;</div>

