
<div class="foot">
  <p class="fnav">
    <a href="{surl(about)}">Sobre</a>
    <a href="https://github.com/peacexie/cheerweb" target="_g">GitHub</a>

    <a id="idf_info" href="{surl(info);}">Navegación</a>
    <a href="{surl(info-gbook)}">Retroalimentación</a>
    <a href="{surl(about-alink)}">Vinculación</a>

  </p>
  <p class="note">
  ¡Recordatorio:` ves.php` Datos de entrada sólo para mostrar 
  </p>
  <p class="copy">
  Copyright © 2018-2019 txjia.com All rights reserved. 
  <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备07020797号</a>. 
  </p>
  <p class="note">
    基于<a href="http://imcat.txjia.com/" target="_blank">贴心猫</a>二次开发 | 
    感谢 <a href="http://www.dg.gd.cn/" target="_blank">[dg.gd.cn](东莞网)</a> 提供空间和域名的支持；
  </p>
  <p class="info">{php echo basDebug::runInfo(); }</p>
</div>


</div>

