{imp:"home/layout"}

{block:head}
<title>{=$_cbase['sys_name']} - {=$resume}</title>
<meta name='keywords' content='贴心猫(imcat):Imcat, Lightweight, free, sharing, PHPCMS, mcat'>
<meta name='description' content='贴心猫(imcat)A general PHP+Msql web site system! Include ApiServer/PC/Mobile Views, pay/map/wechat APIs!'>
{/block:head}

{block:inner}

<div class="block"><div class="in">
    <h2><span class="tg1">Languages</span>{=$_cbase['sys_name']}</h2>
    <div>
        {loop $vcfg $k $v}
        <p><i class="r">
            <a href="{=PATH_PROJ}{=$v[1]}"><?php echo basLang::pick(0,$v[0]); ?></a></i>
            <!--<?=$k=='comm'?'vcn':$k?>:-->
            {=$_dtab[$k]}
        </p>
        {/loop}
        <p class="tc"><i class="r">
            <a href="https://github.com/peacexie/imcat">github</a></i>
            (MIT)Copyright@贴心猫(imcat)
        </p>
    </div>
</div></div>

<div class="block"><div class="in">
    <h2><span class="tg1">map</span>We are here!</h2>
    <div>
        <iframe width='100%' height='250' src="{=PATH_PROJ}/index.php?info-map-baidu&point=113.756963,23.02224,15&title={=$_cbase['sys_name']}" frameborder=0></iframe>
    </div>
</div></div>

{/block:inner}
