<!doctype html>
<html>
<head>
{code:"home/cfgs.php"}
{php}
\imcat\glbHtml::page('init');
eimp('initJs','jquery;comm;/base/home/funcs');
{/php}
<link href='{=PATH_VENDUI}/bootstrap/css/font-awesome.min.css' type='text/css' rel='stylesheet'/>
<link href='{=PATH_VIEWS}/base/home/style.css' type='text/css' rel='stylesheet'/>
{block:head}{/block:head}
<base target="_blank"/>
</head>
<body>

<!--[if lt IE 9]>
<p class='gwidth ie6'>浏览器版本太低，不支持HTML5，浏览效果可能不正常！</p>
<![endif]-->

<div class="nav">
{loop $vcfg $k $v}
<i class="cCCC">●</i> <a href="{=PATH_PROJ}{=$v[1]}" class="qrcode_tip"><b
  class="fa fa-{=$icons[$k]}"></b> <?php echo basLang::pick(0,$v[0]); ?><i 
  class="qrcode_pic" id="qrcode_pic{=$k}" style="display:none;"></i></a>
{/loop}
</div>

<div class="head">
    <a href="?" target="_self"><img src="{=PATH_VIEWS}/base/assets/logo/logo120x60.jpg" width="120" height="60"></a>
    <h1>
        {=$title} v{=$_cbase['sys']['ver']}
    </h1>
    <p>免费，开源，无加密，无限制</p>
</div>

<div class="out">

{block:inner}{/block:inner}

</div><!--end.out-->

<div class="foot">
<p>
    <span>[<a href="?start">Start</a>] # </span>
    (<a href="http://cheerweb.txjia.com" target="_blank">Official-Demo</a> | 
    <a href="https://github.com/peacexie/cheerweb" target="_blank">Github-Down</a> | 
    <a href="{surl(home-tips)}" target="_blank">Local-Guide</a>)
    <span> # [<a class="qrcode_home" _url='{=PATH_PROJ}/'>Scan<i class="qrcode_hpic" id="qrcode_pichome" style="display:none;"></i></a>] </span>
</p>
<p>
    <a href="http://imcat.txjia.com">贴心猫</a>(<a href="http://imcat.txjia.com">imcat</a>) © MIT @ 
    <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备07020797号</a>
</p>
<p class="info">{php echo basDebug::runInfo(); }</p>
</div>

<script type="text/javascript">
var _burl = '{=$_cbase['run']['rsite']}';
var _ismb = <?php echo $isMobile ? 1 : 0; ?>;
$(function(){ 
    if(_ismb){
        $('.vnote p').hide();
        $('.foot span').hide();
    }else{
        qrActs();
    }
});
</script>

</body>
</html>
