<!DOCTYPE html><html><head>
{php $this->pmeta(); }
{php}
eimp('initJs','jquery;bootstrap;comm');
eimp('initCss','bootstrap,stpub;comm');
eimp('/layer/layer.js','vendui');
{/php} 

</head><body> 
{inc:"u-inc/ahead"}
{inc:"u-inc/amenu"}

<div class="row">
  <div class="col-md-9">

    <ol class="breadcrumb">
      <li><a href="{surl(0)}">кардинальная кошка(Imcat)</a></li>
      <li><a href="{surl(news)}">пресс - центр</a></li>
      <li class="active">подробности</li>
    </ol>

    {inc:"news/n-detail"}
  </div>
  <div class="col-md-3">
    {inc:"news/b-side"}
  </div>
</div>

{inc:"u-inc/afoot"}
</body></html>
